ggplot2==3.5.0
dplyr==1.1.4
tidyr==1.3.1
forcats==1.0.0
gridExtra==2.3
tidyverse==2.0.0
jtools==2.2.2
knitr==1.45
pander==0.6.5
MASS==7.3-60
DescTools==0.99.53
readr==2.1.4
caret==6.0-94
pROC==1.18.5
mgcv==1.8-42
scales==1.3.0
kableExtra==1.4.0
nnet==7.3-19
gamlss.add==5.1-12
neuralnet==1.44.2
e1071==1.7-14
pdp==0.8.1
